@import "bootstrap";
@import "bootstrap-sprockets";

.navbar-default {
  background-color: GoldenRod;
  border-color: brown;
}

#main-nav {
  a {
    color: brown;
  }
  .navbar-header a {
    font-family: 'Dawning of a New Day';
    font-weight: bold;
    font-size: 22px;
  }
}



body {
  background-color: gray;
}
