
@mixin panel {
  float: left;
  height: 45vh;
}

@mixin card-width{
  width: 9vw;
}

@mixin card-height{
  height: 25vh;
}

@mixin card-size{
  @include card-height;
  @include card-width;
}

.card-space {
  @include card-size;
  float: left;
  margin-left: 2.5%;
}

@mixin card-traits {
  border: 1px solid black;
  background-color: white;
}

.deck-panel {
  @include panel;
  width: 25vw;
  background-color: blue;
  .deck{
    @extend .card-space;
    background-color: red;
  }
}

.card-top{
  float: left;
}

.card{
  @include card-traits;
  @include card-size;
  border-radius: 5px;
  position: relative;

  .card-middle{
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 5vw;
  }
  .card-bottom{
    position: absolute;
    bottom: 0;
    right: 1%;
  }
}

.card-stack-top{
  @include card-traits;
  @include card-width;
  height: 5vh;
}

.red {
  color: red;
}

.black {
  color: black;
}

.sorted-card-panel {
  @include panel;
  width: 74vw;
  background-color: green;
}

.empty-card-space {
  @extend .card-space;
  border: black solid;
}