
<nav class="navbar navbar-default">
  <div class="container-fluid" id="main-nav">
    <div class="navbar-header" >
      <a class="navbar-brand" href="/">Luke's Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">About Me</a></li>
    </ul>
  </div>
</nav>